.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.body-container {
  display: flex;
  justify-content: space-between
}

.season-container {
  width: 60vw;
  height: 70vh;
  background-color: grey;
}
html {
  background-color: #15151e;
}

.top-races {
  width: 25vw;
  height: 70vh;
  background-color: grey;
}

.season {
  display: flex;
  flex-wrap: wrap;
}

.race {
  /* background-color: white; */
  color: white;
  border: 2px solid white;
  border-radius: 25%;
  height: 17vh;
  margin: 10px;
  /* padding-left: 10px; */
  font-size: 12px;
  width: 8vw;
  text-align: center
}

header {
  height: 10vh;
  background-color: #e10600;
  display: flex;
  align-items: center;
}

h1 {
  margin: 0 auto;
}

.topRace {
  color: white;
  border: 2px solid white;
  border-radius: 6%;
  margin-top: 5px;
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 10px;
  font-size: 12px;
}

.deleteBtn {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
}

h2 {
  text-align: center;
  margin-bottom: 0px;
}

.search-bar {
  width: 20vw;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  justify-content: space-around;

}
.search-bar > p {
  margin: 0;
  color: white;
}

.search-bar > input{
  width: 4vw;
  }

.search-bar > button {
  background: none;
  border: none;
}
